.foto-perfil {
    height: 100%;
    max-width: auto;
    border-radius: 50%;
}

.icones {
    padding-left: 5px;
}

.titulosBrancos {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(231, 237, 243);
}

.titulosVerdes {
    text-decoration: underline;
    text-underline-position: under;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #052e26
}

.paragrafoBrancos {
    color: white !important;
}


.jumbotron {
    margin-bottom: 0px;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(0, 0, 0) !important;
}

.corPrimaria {
    background-color: #0b110f;
}

.itemMenu {
    color: rgb(238, 225, 225);
}